.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
  }
  .grid-item {
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
  }